:root {
  --black: #000000;
  --yellow: #FFFF00;
  --white: #FFFFFF;
}

* {
  background-color: var(--black);
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

h1 {
  color: var(--yellow);
  font-size: 2rem;
  text-align: center;
}

h2, h3 {
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
}